* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-size: 1rem;
}

main {
    min-height: 80vh;
    
}

.rating span {
    margin: 0.15rem;
}

.card {
    border: none;
}

.card-body {
    font-family: Arial, Helvetica, sans-serif;
}

.card-body .card-text {
    margin: 0.5rem 0;
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  

  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }

.main{
    display: flex;
}